h1{
    color: coral;
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color: olive;
    text-align: right;
    text-decoration: underline dashed;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    color: darkslateblue;
    text-align: left;
    text-decoration: dotted;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDDD;
    margin: 0 auto;
}

#container h1{
    color: lightseagreen;
    text-align: center;
    text-decoration: underline double;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}