h1{
    color: coral;
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: olive;
    text-align: right;
    text-decoration: underline dashed;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    color: darkslateblue;
    text-align: left;
    text-decoration: dotted;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDDD;
    margin: 0 auto;
}

#container h1{
    color: cornflowerblue;
    text-align: center;
    text-decoration: underline double;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cabecera {
    background: olive;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.5);
    color: wheat;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cabecera #tagline{
    font-size: 0.8em;
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}