h1{
    color: coral;
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: olive;
    text-align: right;
    text-decoration: underline dashed;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    color: darkslateblue;
    text-align: left;
    text-decoration: dotted;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}